
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-vector/vector-circle-tech-with-light-blue-lamp-bulb-technology-background_43778-444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color:rgb(161, 215, 197);
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: .7;
}
.inp1{
    font-size: 25px;
    padding-left: 10px;
}
.inp2{
    font-size: 25px;
    padding-left: 10px;

}
.inp3{
    padding-left: 10px;
    font-size: 25px;
}
#num1{
    font-size: 20px;
}
#num2{
    font-size: 20px;
}
#num3{
    font-size: 20px;
}
#button{
    font-size: 30px;
    background-color: rgb(177, 177, 238);
    margin-top: 30px;
    
color: rgb(25, 25, 57);
border-radius: 5px;
    
}
#button:hover{
    color: red;

}
#result{
    color:green;
}
.res{
     font-size: 30px;


}
.p1{
    
    color: rgb(110, 255, 255);
}
#h2{
    text-align: center;
}